.item {
    background-color: beige;
    padding: 10px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 480px;
    border: solid 5px black;
}

.status {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: green;
}

.isOffline {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
}
.name {
    font-size: 26px;
}