.transactionHistory{
    background-color: beige;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 480px;
    border: solid 5px black;
    
}

td {
    border: 3px solid grey;
    font-size: 20px;
 }
 
 th {
    width: 20%;
    background-color:cadetblue;
 }

 th, td {
    padding: 10px 15px;
 }